@charset "utf-8";

$brand-color:           #999999;
$brand-color-light:     lighten($brand-color, 5%);
$brand-color-dark:      darken($brand-color, 35%);

$site-title-color:      $brand-color-light;

$text-color:            #bbbbbb;
$background-color:      #181818;
$code-background-color: #212121;

$link-base-color:       #79b8ff;
$link-visited-color:    $link-base-color;
$link-hover-color:      $text-color;

$border-color-01:       $brand-color-dark;
$border-color-02:       $brand-color-light;
$border-color-03:       $brand-color;

$table-text-color:      $text-color;
$table-zebra-color:     lighten($background-color, 4%);
$table-header-bg-color: lighten($background-color, 10%);
$table-header-border:   lighten($background-color, 21%);
$table-border-color:    $border-color-01;

