@charset "utf-8";

// Define defaults for each variable.
$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif !default;
$code-font-family: "Menlo", "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;

// Classic mode color
@import "minima/color/light";

$light-colors: (
  "brand-color":           $brand-color,
  "brand-color-light":     $brand-color-light,
  "brand-color-dark":      $brand-color-dark,

  "site-title-color":      $site-title-color,

  "text-color":            $text-color,
  "background-color":      $background-color,
  "code-background-color": $code-background-color,

  "link-base-color":       $link-base-color,
  "link-visited-color":    $link-visited-color,
  "link-hover-color":      $link-hover-color,

  "border-color-01":       $border-color-01,
  "border-color-02":       $border-color-02,
  "border-color-03":       $border-color-03,

  "table-text-color":      $table-text-color,
  "table-zebra-color":     $table-zebra-color,
  "table-header-bg-color": $table-header-bg-color,
  "table-header-border":   $table-header-border,
  "table-border-color":    $table-border-color,
);

// Dark mode color
@import "minima/color/dark";

$dark-colors: (
  "brand-color":           $brand-color,
  "brand-color-light":     $brand-color-light,
  "brand-color-dark":      $brand-color-dark,

  "site-title-color":      $site-title-color,

  "text-color":            $text-color,
  "background-color":      $background-color,
  "code-background-color": $code-background-color,

  "link-base-color":       $link-base-color,
  "link-visited-color":    $link-visited-color,
  "link-hover-color":      $link-hover-color,

  "border-color-01":       $border-color-01,
  "border-color-02":       $border-color-02,
  "border-color-03":       $border-color-03,

  "table-text-color":      $table-text-color,
  "table-zebra-color":     $table-zebra-color,
  "table-header-bg-color": $table-header-bg-color,
  "table-header-border":   $table-header-border,
  "table-border-color":    $table-border-color,
);

@function getcolor($color, $light-theme) {
  @if $light-theme {
    @return map_get($light-colors, $color);
  } @else {
    @return map_get($dark-colors, $color);
  }
}

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: #{$ratio}rem;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/highlight"
;
